.backdrop {
  color: var(--text-color);
  display: flex;
  width: 5%;
  padding-left: 10%;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 7%;
  left: 5%;
  z-index: 1;
}