.MyLocation {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  margin: auto;

  position: absolute;
  background-color: var(--secondary);
  left: 60%;
  top: 1%;
  
}

